// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/pasta/4_small.png" alt="pasta-amatrichi")
    .block__item-title
        |АМАТРИЧИ
    .block__item-description.
        Вкуснота, удовольствие, превосходство, великолепие, шарм, богатство вкуса, аромат
        , перфекто блюдо

    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers 130
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 000 г.

        .basket-block
                |В корзину
