.content-vacancies
    .vacancies
        .vacancies_profession
            |Официант
        .vacancies_description.
            Тяжело нынче отцам. Нужно постоянно следить за тем,
            что сын скачивает из Интернета, а дочь туда выкладывает. anekdotov.net
            sdfasfqwdqwd
        .vacancies_text.
            и еще какой то текст
    .vacancies
        .vacancies_profession
             |Повар
        .vacancies_description.
            Тяжело нынче отцам. Нужно постоянно следить за тем,
             что сын скачивает из Интернета, а дочь туда выкладывает. anekdotov.net
            sdfasfqwdqwd
        .vacancies_text.
             и еще какой то текст
    .vacancies
        .vacancies_profession
                |Администратор
        .vacancies_description.
            Мужик приходит жаловаться в магазин с купленой неделю назад бензопилой:
             — Я вот купил у вас инструмент. В инструкции написано, что с е
             е помощью можно за день распилить 5 кубометров дров, а я как
             не стараюсь, больше 3 не получается. Продавец:
             — Ну давайте
             посмотрим, И включает бензопилу. Мужик:
             — Ух ты!, а че это она у вас зажужжала?!?!?! anekdotov.net
        .vacancies_text.
               и еще какой то текст