.content-action
    .content-action__item
        .content-action__image
            img(src="../image/slider/slider_1_768.jpg", alt="action1")
        a(href="action1.html")
            .content-action__text.
                Вкуснейшая пицца для всех
    .content-action__item
        .content-action__image
            img(src="../image/slider/slider_2_768.jpg", alt="action1")
        a(href="action2.html")
            .content-action__text.
                Мы для Вас ролы свернем
    .content-action__item
        .content-action__image
            img(src="../image/slider/slider_3_768.jpg", alt="action1")
        a(href="action3.html")
            .content-action__text.
                Насладись вкусом кофе