header.header

    .header-title
        .header-title__wrapper
            .title__logo
               img(src="../image/logo1.png" alt="логотип").logo__image
               //svg.svg-logo-italiano
               //     use(xlink:href="image/sprite.svg#icon--italliano")
               //svg.svg-logo-pizza
               //     use(xlink:href="image/sprite.svg#icon--pizza")
            .title__content
                .title__nav
                    .title__nav-item
                        a(href="").title__nav-link
                            | АКЦИИ
                    .title__nav-item
                        a(href="vacancies.html").title__nav-link
                            | ВАКАНСИИ
                    .title__nav-item
                        a(href="").title__nav-link
                            | КОНТАКТЫ
                    .title__nav-item
                        a(href="").title__nav-link
                            | АТМОСФЕРА
                .title__total-price
                    .price_numbers 562
                    svg.svg-rubl
                       use(xlink:href="../image/sprite.svg#icon--znac_publy")

                .title_tel-basket
                    .tel-basket__svg-call
                        a(href="tel:365365")
                            svg.svg_tel_znachok
                                use(xlink:href="../image/sprite.svg#icon--tel_znachok")
                                    animate(dur="2s" ,values="red; yellow; green", keyTimes="0; 0.5; 1", attributeName="fill", repeatCount="indefinite")
                    .tel-basket__telephon 365-365
                    .tel-basket__button-basket
                        .basket-block.button-basket-modify
                            svg.svg_znac_korzina
                                use(xlink:href="../image/sprite.svg#icon--znac_korzina")
                            | КОРЗИНА
                        // корзина которая появится при наведении мышкой
                        .basket-buy-items
                            .block-basket_title
                                |В Вашей корзине
                            .block-basket_items
                                .block-basket_item__name Наименование
                                .block-basket_item__add
                                    //это блок на добавление-отнимание кол-ва продукта в заказ
                                    .block-add-items
                                        .image-add-znak
                                            svg.block-add-items_svg_znak
                                                use(xlink:href="../image/sprite.svg#icon--minus")
                                        .image-add-total 0
                                        .image-add-znak
                                            svg.block-add-items_svg_znak
                                                use(xlink:href="../image/sprite.svg#icon--plus")

                                .title__total-price.total-price_width20
                                    .price_numbers.color__grey 0
                                    svg.svg-rubl.color__grey
                                        use(xlink:href="../image/sprite.svg#icon--znac_publy")
                            .block-basket_items
                                .block-basket_item__name Наименование
                                .block-basket_item__add
                                    //это блок на добавление-отнимание кол-ва продукта в заказ
                                    .block-add-items
                                        .image-add-znak
                                            svg.block-add-items_svg_znak
                                                use(xlink:href="../image/sprite.svg#icon--minus")
                                        .image-add-total 63
                                        .image-add-znak
                                            svg.block-add-items_svg_znak
                                                use(xlink:href="../image/sprite.svg#icon--plus")

                                .title__total-price.total-price_width20
                                    .price_numbers.color__grey 63
                                    svg.svg-rubl.color__grey
                                        use(xlink:href="../image/sprite.svg#icon--znac_publy")



