header.header

    .header-title
        .header-title__wrapper
            .title__logo
                img(src="image/logo.png" alt="логотип").logo__image
            .title__content
                .title__nav
                    .title__nav-item
                        a(href="").title__nav-link
                            | АКЦИИ
                    .title__nav-item
                        a(href="").title__nav-link
                            | ВАКАНСИИ
                    .title__nav-item
                        a(href="").title__nav-link
                            | КОНТАКТЫ
                    .title__nav-item
                        a(href="").title__nav-link
                            | АТМОСФЕРА
                .title__total-price
                    .price_numbers 562
                    svg.svg-rubl
                       use(xlink:href="image/sprite.svg#icon--znac_publy")

                .title_tel-basket
                    .tel-basket__svg-call
                        a(href="tel:365365")
                            svg.svg_tel_znachok
                                use(xlink:href="image/sprite.svg#icon--tel_znachok")
                    .tel-basket__telephon 365-365
                    .tel-basket__button-basket
                        .basket-block.button-left
                            | В корзина
                        .basket-buy-items
                            .block-basket_title
                                |В Вашей корзине
                            .block-basket_items
                                .block-basket_item__name Наименование
                                .block-basket_item__add
                                    //это блок на добавление-отнимание кол-ва продукта в заказ
                                    .block-add-items
                                        .image-add-znak -
                                        .image-add-total 0
                                        .image-add-znak +

                                .title__total-price.total-price_width20
                                    .price_numbers.color__grey 562
                                    svg.svg-rubl.color__grey
                                        use(xlink:href="image/sprite.svg#icon--znac_publy")
                            .block-basket_items
                                .block-basket_item__name Наименование
                                .block-basket_item__add
                                    //это блок на добавление-отнимание кол-ва продукта в заказ
                                    .block-add-items
                                        .image-add-znak -
                                        .image-add-total 0
                                        .image-add-znak +

                                .title__total-price.total-price_width20
                                    .price_numbers.color__grey 562
                                    svg.svg-rubl.color__grey
                                        use(xlink:href="image/sprite.svg#icon--znac_publy")



