.slider-contant
    img(src="../image/slider_vacancia.jpg" alt="slider-photo").slider-layer.slider-layer1

    svg.slider_arrow-left.slider_arrow
        use(xlink:href="image/sprite.svg#icon--slider_left")
    svg.slider_arrow-right.slider_arrow
        use(xlink:href="image/sprite.svg#icon--slider_right")