.slider-contant
    img(src="image/slider1.png" alt="slider-photo").slider-layer.slider-layer1
    img(src="image/slider2.png" alt="slider-photo").slider-layer.slider-layer2
    svg.slider_arrow-left.slider_arrow
        use(xlink:href="image/sprite.svg#icon--slider_left")
    svg.slider_arrow-right.slider_arrow
        use(xlink:href="image/sprite.svg#icon--slider_right")