// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="image/pizza/12_italiano_small.png" alt="pizza-italiano")
    .block__item-title
        |ИТАЛЬЯНО
    .block__item-description.
        моцарелла, венские колбаски, ветчина, золотистые грибочки
    .block__item-size
        form(name="form-size-pizza", method="post")

                input(type="radio", value="30", name="add", id="30-cmpizza-italiano", checked="checked")
                label(for="30-cmpizza-italiano").item-size_label
                    | 30 см
                input(type="radio", value="40", name="add",id="40-cmpizza-italiano")
                label(for="40-cmpizza-italiano").item-size_label
                    | 40 см

    .block__item-buy
        .block__item-price
            .price_numbers 509
            svg.svg-rubl
               use(xlink:href="image/sprite.svg#icon--znac_publy")
        .block__item-basket
            .basket-block.button-left
                |В корзину
