include add/_mixin

doctype HTML
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"  content="width=device-width, initial-scale=1.0")
        meta(name="description" content="pizza")
        //link(el="shorcut icon" href="../favicon.ico" type="image/x-icon")
        //link(rel="icon" href="../favicon.ico" type="image/x-icon")

        block head
            link(rel="stylesheet" href="../css/main.css")

    body
        // Меню которое появиться на телефоне
        .menu-tel
            .menu-tel__items
                //добавим класс active для меню в котором мы находимся
                a(href="../index.html").header__menu-telephone-item
                    | ПИЦЦА
                a(href="snacks.html").header__menu-telephone-item
                    | ЗАКУСКИ
                a(href="rols.html").header__menu-telephone-item
                    | РОЛЛЫ
                a(href="pasta.html").header__menu-telephone-item
                    | ПАСТА
                a(href="soups.html").header__menu-telephone-item
                    | СУПЫ
                a(href="salat.html").header__menu-telephone-item
                    | САЛАТЫ
                a(href="sweet.html").header__menu-telephone-item
                    | ДЕСЕРТЫ
                a(href="drinks.html").header__menu-telephone-item
                    | НАПИТКИ
            .menu-tel__items
                a(href="action.html").header__menu-telephone-item
                    | АКЦИИ
                a(href="vacancies.html").header__menu-telephone-item
                    | ВАКАНСИИ
                a(href="contacts.html").header__menu-telephone-item
                    | КОНТАКТЫ

            .header__nav_svg-burger_close
                svg.header-nav__svg.nav__svg_burger_close
                    use(xlink:href="../image/sprite.svg#icon--krestik" )
        .header__nav_svg-burger
            svg.header-nav__svg.nav__svg_burger
                use(xlink:href="../image/sprite.svg#icon--plus")
            // конец меню которое появляется при ширине экрана как телефон

        header.header
            .header-title
                .header-title__wrapper
                    .title__logo
                        img(src="../image/logo1.png" alt="логотип").logo__image

                    .title__content
                        .title__nav
                            .title__nav-item
                                a(href="action.html").title__nav-link
                                    | АКЦИИ
                            .title__nav-item
                                a(href="#").title__nav-link.title__nav-link_active
                                    | ВАКАНСИИ
                            .title__nav-item
                                a(href="").title__nav-link
                                    | КОНТАКТЫ
                            .title__nav-item
                                a(href="").title__nav-link
                                    | АТМОСФЕРА
                        .title__total-price
                            .price_numbers 562
                            svg.svg-rubl
                                use(xlink:href="../image/sprite.svg#icon--znac_publy")

                        .title_tel-basket
                            .tel-basket__svg-call
                                a(href="tel:365365")
                                    svg.svg_tel_znachok
                                        use(xlink:href="../image/sprite.svg#icon--tel_znachok")
                                            animate(dur="2s" ,values="red; yellow; green", keyTimes="0; 0.5; 1", attributeName="fill", repeatCount="indefinite")
                            .tel-basket__telephon 365-365
                            .tel-basket__button-basket
                                .basket-block.button-basket-modify
                                    svg.svg_znac_korzina
                                        use(xlink:href="../image/sprite.svg#icon--znac_korzina")
                                    | КОРЗИНА
                                .basket-buy-items
                                    .block-basket_title
                                        | В Вашей корзине
                                    .block-basket_items
                                        .block-basket_item__name Наименование
                                        .block-basket_item__add
                                            //это блок на добавление-отнимание кол-ва продукта в заказ
                                            .block-add-items
                                                .image-add-znak
                                                    svg.block-add-items_svg_znak
                                                        use(xlink:href="../image/sprite.svg#icon--minus")
                                                .image-add-total 0
                                                .image-add-znak
                                                    svg.block-add-items_svg_znak
                                                        use(xlink:href="../image/sprite.svg#icon--plus")

                                        .title__total-price.total-price_width20
                                            .price_numbers.color__grey 0
                                            svg.svg-rubl.color__grey
                                                use(xlink:href="../image/sprite.svg#icon--znac_publy")
                                    .block-basket_items
                                        .block-basket_item__name Наименование
                                        .block-basket_item__add
                                            //это блок на добавление-отнимание кол-ва продукта в заказ
                                            .block-add-items
                                                .image-add-znak
                                                    svg.block-add-items_svg_znak
                                                        use(xlink:href="../image/sprite.svg#icon--minus")
                                                .image-add-total 63
                                                .image-add-znak
                                                    svg.block-add-items_svg_znak
                                                        use(xlink:href="../image/sprite.svg#icon--plus")

                                        .title__total-price.total-price_width20
                                            .price_numbers.color__grey 63
                                            svg.svg-rubl.color__grey
                                                use(xlink:href="../image/sprite.svg#icon--znac_publy")




            .header__nav
                .wrapper__header__nav
                    //добавим класс active для меню в котором мы находимся
                    a(href="../index.html").header__nav-items
                        | ПИЦЦА
                    a(href="zakuski.html").header__nav-items
                        | ЗАКУСКИ
                    a(href="rols.html").header__nav-items
                        | РОЛЛЫ
                    a(href="pasta.html").header__nav-items
                        | ПАСТА
                    a(href="soups.html").header__nav-items
                        | СУПЫ
                    a(href="salat.html").header__nav-items
                        | САЛАТЫ
                    a(href="zakuski.html").header__nav-items
                        | ДЕСЕРТЫ
                    a(href="drinks.html").header__nav-items
                        | НАПИТКИ
                    .header__nav-icon
                        a(href="vk.com")
                            svg.header-nav__svg.nav__svg_vk
                                use(xlink:href="../image/sprite.svg#icon--kontact")
                        a(href="instagram.com")
                            svg.header-nav__svg.nav__svg_instagram
                                use(xlink:href="../image/sprite.svg#icon--instagram" )
                .header__nav_svg-burger
                    svg.header-nav__svg.nav__svg_burger
                use(xlink:href="../image/sprite.svg#icon--krestik" )
        .head-relativ
         // вставляем слайдер
        .slider-contant
            img(src="../image/slider_vacancia.jpg" alt="slider-photo").slider-layer.slider-layer1

            svg.slider_arrow-left.slider_arrow
                use(xlink:href="../image/sprite.svg#icon--slider_left")
            svg.slider_arrow-right.slider_arrow
                use(xlink:href="../image/sprite.svg#icon--slider_right")

        .wraper-main
            .main-content
                include ./add/ContentVakancies



        footer.footer
             include ./add/footer
        .menu-footer-for_mobile
            .footer-for_mobile_content
                a(href="action.html")
                    svg.footer-for_mobile_svg.footer-for_mobile_tel_znak
                        use(xlink:href="../image/sprite.svg#icon--tel_znachok")
            .footer-for_mobile_content
                a(href="tel:365365")
                    svg.footer-for_mobile_svg.footer-for_mobile_tel_znak
                        use(xlink:href="../image/sprite.svg#icon--tel_znachok")
            .footer-for_mobile_content
                a(href="basket.html")
                    svg.footer-for_mobile_svg.footer-for_mobile_basket
                        use(xlink:href="../image/sprite.svg#icon--znac_korzina")






