
include add/_mixin

doctype HTML
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"  content="width=device-width, initial-scale=1.0")
        meta(name="description" content="pizza")

        //link(el="shorcut icon" href="../favicon.ico" type="image/x-icon")
        //link(rel="icon" href="../favicon.ico" type="image/x-icon")


        block head
            link(rel="stylesheet" href="css/main.css")

    body
        // Меню которое появиться на телефоне
        .menu-tel
            .menu-tel__items
                //добавим класс active для меню в котором мы находимся
                a(href="#").header__menu-telephone-item.header__nav-items_active
                    | ПИЦЦА
                a(href="../page/snacks.html").header__menu-telephone-item
                    | ЗАКУСКИ
                a(href="../page/rols.html").header__menu-telephone-item
                    | РОЛЛЫ
                a(href="../page/pasta.html").header__menu-telephone-item
                    | ПАСТА
                a(href="../page/soups.html").header__menu-telephone-item
                    | СУПЫ
                a(href="../page/salat.html").header__menu-telephone-item
                    | САЛАТЫ
                a(href="../page/sweet.html").header__menu-telephone-item
                    | ДЕСЕРТЫ
                a(href="../page/drinks.html").header__menu-telephone-item
                    | НАПИТКИ
            .menu-tel__items
                a(href="../page/action.html").header__menu-telephone-item
                    | АКЦИИ
                a(href="../page/vacancies.html").header__menu-telephone-item
                    | ВАКАНСИИ
                a(href="../page/contacts.html").header__menu-telephone-item
                    | КОНТАКТЫ

            .header__nav_svg-burger_close
                svg.header-nav__svg.nav__svg_burger_close
                    use(xlink:href="image/sprite.svg#icon--krestik" )
        .header__nav_svg-burger
            svg.header-nav__svg.nav__svg_burger
                use(xlink:href="image/sprite.svg#icon--hamburger")
            // конец меню которое появляется при ширине экрана как телефон

        header.header
            include ./add/headerIndex
            .header__nav
                .wrapper__header__nav
                    //добавим класс active для меню в котором мы находимся
                    a(href="#").header__nav-items.header__nav-items_active
                        | ПИЦЦА
                    a(href="page/snacks.html").header__nav-items
                        | ЗАКУСКИ
                    a(href="page/rols.html").header__nav-items
                        | РОЛЛЫ
                    a(href="page/pasta.html").header__nav-items
                        | ПАСТА
                    a(href="page/soups.html").header__nav-items
                        | СУПЫ
                    a(href="page/salat.html").header__nav-items
                        | САЛАТЫ
                    a(href="page/sweet.html").header__nav-items
                        | ДЕСЕРТЫ
                    a(href="page/drinks.html").header__nav-items
                        | НАПИТКИ
                    .header__nav-icon
                        a(href="vk.com")
                            svg.header-nav__svg.nav__svg_vk
                                use(xlink:href="../image/sprite.svg#icon--kontact")
                        a(href="instagram.com")
                            svg.header-nav__svg.nav__svg_instagram
                                use(xlink:href="../image/sprite.svg#icon--instagram" )

        .head-relativ
        include ./add/sliderIndex

        .wraper-main
            .main-content
                include ./add/pizza/pizza-margarita
                include ./add/pizza/pizza-po_derevenski
                include ./add/pizza/pizza-gavayskay
                include ./add/pizza/pizza-chili
                include ./add/pizza/pizza-vetchina_gribi
                include ./add/pizza/pizza-chiken_paprik
                include ./add/pizza/pizza-papperoni
                include ./add/pizza/pizza-barbeku
                include ./add/pizza/pizza-bavarskaya
                include ./add/pizza/pizza-sea
                include ./add/pizza/pizza-slivki
                include ./add/pizza/pizza-italiano

        footer.footer
             include ./add/footer

        .menu-footer-for_mobile
            .footer-for_mobile_content
                a(href="page/action.html")
                    svg.footer-for_mobile_svg.footer-for_mobile_tel_znak
                        use(xlink:href="image/sprite.svg#icon--tel_znachok")
            .footer-for_mobile_content
                a(href="tel:365365")
                    svg.footer-for_mobile_svg.footer-for_mobile_tel_znak
                        use(xlink:href="image/sprite.svg#icon--tel_znachok")
            .footer-for_mobile_content
                a(href="page/basket.html")
                    svg.footer-for_mobile_svg.footer-for_mobile_basket
                        use(xlink:href="image/sprite.svg#icon--znac_korzina")





