extends main


block head
    link(src="concat.css" type="text/css")

block content
    .main
      |главный тескт страницы<br>
      |здесь мы видим как работате JADE
      |khjghghg
      div.next пошел текст


    +title('титульный текст','/image/dot.jpg')

    +title('другая подсказка2','/img/cat.jpg','cat')

    .tabl
        -for (var x = 0; x < 3; x++)
            li.item

block foot
    .footer_about
         |футер обо мне


block menu
     ul.form
        li.clas  пункт

