// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/margarita.png" alt="pizza-margarita")
    .block__item-title
        |МАРГАРИТА
    .block__item-description.
        Томатный соус, томаты, двойная  порция моцареллы на фирменном тесте
    .block__item-size
        form(name="form-size-pizza", method="post")

                input(type="radio", value="30", name="add", id="30cm" checked="checked").item-size_radio
                label(for="30cm", class="item-size-label")
                    | 30 см
                input(type="radio", value="40", name="add",id="40cm").item-size_radio
                label(for="40cm", class="item-size-label")
                    | 40 см

    .block__item-buy
        .block__item-price
            .price_numbers 562
            svg.svg-rubl
               use(xlink:href="image/sprite.svg#icon--znac_publy")
        .block__item-basket
            .basket-block.button-left
                |В корзину
