.wraper-main{
  width: 100%;

  background:url("image/background_main.jpg");
  background:url("../image/background_main.jpg");
  padding-bottom: 130px;

  .main-content{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }
}