.wraper-main{
  width: 100%;

  background:url("image/background_main.jpg");
  background:url("../image/background_main.jpg");
  padding-bottom: 130px;

  .main-content{
    max-width:1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;


    @include breakpoint(tablet)  {
      justify-content: space-around;
    }
    @include breakpoint(phone)  {
      justify-content: space-around;
    }
  }
}

// меню которое появляеться внизу на телефонах фиксид
.menu-footer-for_mobile{
  display: none;
  @include breakpoint(phone)  {
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    height: 50px;
    justify-content: space-between;
  }
}
.footer-for_mobile_content{
  width: 32%;
  background: rgba(#111b20, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
.footer-for_mobile-circle{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #dc2136;
}
.footer-for_mobile_svg{
  height: 30px;
  width: 30px;
}
.footer-for_mobile_procent{
  fill:#ffffff;
}
.footer-for_mobile_tel_znak{
  fill:#58b30a;
}
.footer-for_mobile_basket{
  fill:#ffffff;
}