@import "add/_mixin_variab";
@import "normalize";
@import "about";
@import "index";
@import "header";
@import "slider";

html, body {
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
body{
	background: pink;
}
@font-face {
	font-family: "MyriadProBold";
	src: url("../fonts/MyriadProBold/MyriadProBold.eot");
	src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
	url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
