// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/snacks/grenki_small.jpg", alt="snack-toast")
    .block__item-title
        |ГРЕНКИ
    .block__item-description.
        Ржаной хлеб, чеснок,  соус «Тар-тар».

    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers 149
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 8 шт.
        .basket-block
                |В корзину
