// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/snacks/nagets'_small.jpg", alt="snack-nagets")
    .block__item-title
        |НАГЕТЦЫ
    .block__item-description.
        Филе куриной грудки в панировке.

    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers 239
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 8 шт.
        .basket-block
                |В корзину
