// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/rols/7_small.jpg", alt="roll-7")
    .block__item-title
        |Хака-маки
    .block__item-description.
        трубочки с рисом мелко нарезанные, замотаны водорослями, кушать палочками

    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers 159
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 0 шт.
        .basket-block
            |В корзину
