// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo.block__item-photo_bRadius
        a(href="")
            img(src="../image/rols/2_small.jpg", alt="roll-2")
    .block__item-title
        |Сяки-маки
    .block__item-description.
        трубочки с рисом мелко нарезанные, замотаны водорослями, кушать палочками
        трубочки с рисом мелко нарезанные, замотаны водорослями, кушать палочками



    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers 159
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 0 шт.
        .basket-block
                |В корзину
