// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/snacks/kurica_small.jpg", alt="snack-sandwich-chicken")
    .block__item-title
        |СЭНДВИЧ С КУРИЦЕЙ
    .block__item-description.
        Тостовый хлеб, куриная грудка, помидор, лист салата, сыр «Моцарелла»,  майонезный соус.

    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers 109
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 155 г.
        .basket-block
                |В корзину
