// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/snacks/kr'liy_small.jpg", alt="snack-wings")
    .block__item-title
        |КРЫЛЫШКИ
    .block__item-description.
        рыло куриное, морковь,  соус сливочно- чесночный.

    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers 269
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 8 шт.
        .basket-block
                |В корзину
