// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/snacks/kartofel'_small.jpg", alt="snack-potato_free")
    .block__item-title
        |КАРТОФЕЛЬ ФРИ
    .block__item-description.
        текст текст текст тектс текст текст текст тектст

    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers даром
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 8 шт.
        .basket-block
                |В корзину
