// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="../image/snacks/tunec_small.jpg", alt="snack-sandwich-tune")
    .block__item-title
        |СЭНДВИЧ С КУРИЦЕЙ
    .block__item-description.
        Тостовый хлеб, тунец, яйцо,  свежий огурец, лист салата, майонезный соус.

    .block__item-buy.block__item-buy_justify.block__item-buy_mtauto
        .block__item-price
            .price_numbers 129
            svg.svg-rubl
                use(xlink:href="../image/sprite.svg#icon--znac_publy")
        .block__item_weight 170 г.
        .basket-block
                |В корзину
