// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="image/pizza/pizza-sea.png" alt="pizza-sea")
    .block__item-title
        |МОРСКАЯ
    .block__item-description.
        игровая креветка, сочный тунец, ароматные кальмары, пикантные каперсы
    .block__item-size
        form(name="form-size-pizza", method="post")

                input(type="radio", value="30", name="add", id="30-cmpizza-sea", checked="checked")
                label(for="30-cmpizza-sea").item-size_label
                    | d 30 см
                input(type="radio", value="40", name="add",id="40-cmpizza-sea")
                label(for="40-cmpizza-sea").item-size_label
                    | d 40 см

    .block__item-buy
        .block__item-price
            .price_numbers 649
            svg.svg-rubl
               use(xlink:href="image/sprite.svg#icon--znac_publy")
        .block__item-basket
            .basket-block.button-left
                |В корзину
