// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="image/pizza/pizza-chicken_paprik.png" alt="pizza-chicken_paprik")
    .block__item-title
        |КУРИНАЯ С ПАПРИКОЙ
    .block__item-description.
        куриная грудка, моцарелла, фирменный соус, сладкая паприка
    .block__item-size
        form(name="form-size-pizza", method="post")

                input(type="radio", value="30", name="add", id="30-cmpizza-chicken_paprik", checked="checked")
                label(for="30-cmpizza-chicken_paprik").item-size_label
                    | d 30 см
                input(type="radio", value="40", name="add",id="40-cmpizza-chicken_paprik")
                label(for="40-cmpizza-chicken_paprik").item-size_label
                    | d 40 см

    .block__item-buy
        .block__item-price
            .price_numbers 499
            svg.svg-rubl
               use(xlink:href="image/sprite.svg#icon--znac_publy")
        .block__item-basket
            .basket-block.button-left
                |В корзину
