// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="image/pizza/3_gavaiskaya_small.png" alt="pizza-gavayskaya")
    .block__item-title
        |ГАВАЙСКАЯ
    .block__item-description.
        нежная курица, сочный ароматный ананас, болгарский перец
    .block__item-size
        form(name="form-size-pizza", method="post")

                input(type="radio", value="30", name="add", id="30-cmpizza-gavayskaya", checked="checked")
                label(for="30-cmpizza-gavayskaya").item-size_label
                    | d 30 см
                input(type="radio", value="40", name="add",id="40-cmpizza-gavayskaya")
                label(for="40-cmpizza-gavayskaya").item-size_label
                    | d 40 см

    .block__item-buy
        .block__item-price
            .price_numbers 479
            svg.svg-rubl
               use(xlink:href="image/sprite.svg#icon--znac_publy")
        .block__item-basket
            .basket-block.button-left
                |В корзину
