// это блок товара в главном блоке с фото товра и описанием
.main-content__block
    .block__item-photo
        a(href="")
            img(src="image/pizza-po_derevenski.png" alt="pizza-po_derevenski")
    .block__item-title
        |ПО-ДЕРЕВЕНСКИ
    .block__item-description.
        Куриная грудка моцарелла, фирменный соус  “Итальяно”, ароматный лук
    .block__item-size
        form(name="form-size-pizza", method="post")

                input(type="radio", value="30", name="add", id="30-cmpizza-po_derevenski", checked="checked")
                label(for="30-cmpizza-po_derevenski").item-size_label
                    | d 30 см
                input(type="radio", value="40", name="add",id="40-cmpizza-po_derevenski")
                label(for="40-cmpizza-po_derevenski").item-size_label
                    | d 40 см

    .block__item-buy
        .block__item-price
            .price_numbers 440
            svg.svg-rubl
               use(xlink:href="image/sprite.svg#icon--znac_publy")
        .block__item-basket
            .basket-block.button-left
                |В корзину
